<ul class="sg-colors">
  <li>
    <span class="sg-swatch sg-swatch__red"></span>
    <span class="sg-label">RED #880000</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__light-red"></span>
    <span class="sg-label">LIGHT RED #FF7777</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__orange"></span>
    <span class="sg-label">ORANGE #DD8855</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__yellow"></span>
    <span class="sg-label">YELLOW #EEEE77</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__green"></span>
    <span class="sg-label">GREEN #00CC55</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__light-green"></span>
    <span class="sg-label">LIGHT GREEN #AAFF66</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__cyan"></span>
    <span class="sg-label">CYAN #AAFFEE</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__light-blue"></span>
    <span class="sg-label">LIGHT BLUE #0088FF</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__blue"></span>
    <span class="sg-label">BLUE #0000AA</span>
  </li>  
  <li>
    <span class="sg-swatch sg-swatch__violet"></span>
    <span class="sg-label">VIOLET #CC44CC</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__brown"></span>
    <span class="sg-label">BROWN #664400</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__white"></span>
    <span class="sg-label">WHITE #ffffff</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__light-gray"></span>
    <span class="sg-label">LIGHT GRAY #BBBBBB</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__gray"></span>
    <span class="sg-label">GRAY #777777</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__dark-gray"></span>
    <span class="sg-label">DARK GRAY #333333</span>
  </li>
  <li>
    <span class="sg-swatch sg-swatch__black"></span>
    <span class="sg-label">BLACK #000000</span>
  </li>
</ul>