a,
a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: $dark-gray;
  font-family: 'Berkelium 64', Arial, sans-serif;
  font-size: 26.25px;
  font-weight: 300;
  margin-bottom: 3.75px;
}

p {
  color: $dark-gray;
  font-family: 'Berkelium 64', Arial, sans-serif;
  font-size: 26.25px;
  font-weight: 300;
  margin-bottom: 3.75px;
}

a.read-more {
  background-color: $red;
  border: 1px solid $dark-gray;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px $red inset;
  color: #f5f5f5;
  padding: 5px;
}

a.read-more:hover {
  background-color: $light-red;
  border-radius: 3px 3px 3px 3px;
  text-decoration: none;
}

hr {
  border: 0;
  height: 3.75px;
  background: url(../../../images/rainbow.svg);
  background-size: contain;
  margin: 1.5em 0;
}

code, pre {
  font-family: 'Berkelium 1541';
  font-size: 18.75px;
  padding: 3.75px;
  background-color: $light-gray;
  color: $dark-gray;
  margin: .75em 0px;
}

mark {
  font-family: 'Berkelium 64';
  font-size: 26.25px;
  padding: 3.75px;
  padding-bottom: 0px;
  background-color: $yellow;
  color: $black;
}

kbd {
  font-family: 'Berkelium 1541';
  font-size: 18.75px;
  padding: 3.75px;
  background-color: $light-gray;
  color: $dark-gray;
}