h1 {
  font-family: 'Pet Me 64';
  font-size: 26.25px;
}

h1 a,
h1 a:visited {
  color: $dark-gray;
}

h1 a:hover {
  color: $red;
  text-decoration: none;
}

h2 {
  font-family: 'Pet Me';
  font-size: 26.25px;
}

h3 {
  font-family: 'Pet Me 64 2Y';
  font-size: 26.25px;
}

h4 {
  font-family: 'Pet Me 2Y';
  font-size: 26.25px;
}

h5 {
  font-family: 'Berkelium 64';
  font-size: 26.25px;
}

h6 {
  font-family: 'Berkelium 1541';
  font-size: 18.75px;
}
