


@font-face {
    font-family: 'Berkelium 1541';
    src: url('Berkelium1541.eot');        
    src: local('Berkelium 1541 Medium'),
         local('Berkelium1541'),
         url('Berkelium1541.eot?#iefix') format('embedded-opentype'),
         url('Berkelium1541.woff') format('woff'),
         url('Berkelium1541.ttf') format('truetype'),
         url('Berkelium1541.svg#Berkelium1541') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Berkelium 64';
    src: url('Berkelium64.eot');        
    src: local('Berkelium 64 Medium'),
         local('Berkelium64'),
         url('Berkelium64.eot?#iefix') format('embedded-opentype'),
         url('Berkelium64.woff') format('woff'),
         url('Berkelium64.ttf') format('truetype'),
         url('Berkelium64.svg#Berkelium64') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me';
    src: url('PetMe.eot');        
    src: local('Pet Me Medium'),
         local('PetMe'),
         url('PetMe.eot?#iefix') format('embedded-opentype'),
         url('PetMe.woff') format('woff'),
         url('PetMe.ttf') format('truetype'),
         url('PetMe.svg#PetMe') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 128';
    src: url('PetMe128.eot');        
    src: local('Pet Me 128 Medium'),
         local('PetMe128'),
         url('PetMe128.eot?#iefix') format('embedded-opentype'),
         url('PetMe128.woff') format('woff'),
         url('PetMe128.ttf') format('truetype'),
         url('PetMe128.svg#PetMe128') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 128 2Y';
    src: url('PetMe1282Y.eot');        
    src: local('Pet Me 128 2Y Medium'),
         local('PetMe1282Y'),
         url('PetMe1282Y.eot?#iefix') format('embedded-opentype'),
         url('PetMe1282Y.woff') format('woff'),
         url('PetMe1282Y.ttf') format('truetype'),
         url('PetMe1282Y.svg#PetMe1282Y') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 2X';
    src: url('PetMe2X.eot');        
    src: local('Pet Me 2X Medium'),
         local('PetMe2X'),
         url('PetMe2X.eot?#iefix') format('embedded-opentype'),
         url('PetMe2X.woff') format('woff'),
         url('PetMe2X.ttf') format('truetype'),
         url('PetMe2X.svg#PetMe2X') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 2Y';
    src: url('PetMe2Y.eot');        
    src: local('Pet Me 2Y Medium'),
         local('PetMe2Y'),
         url('PetMe2Y.eot?#iefix') format('embedded-opentype'),
         url('PetMe2Y.woff') format('woff'),
         url('PetMe2Y.ttf') format('truetype'),
         url('PetMe2Y.svg#PetMe2Y') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 64';
    src: url('PetMe64.eot');        
    src: local('Pet Me 64 Medium'),
         local('PetMe64'),
         url('PetMe64.eot?#iefix') format('embedded-opentype'),
         url('PetMe64.woff') format('woff'),
         url('PetMe64.ttf') format('truetype'),
         url('PetMe64.svg#PetMe64') format('svg');
    font-weight: 500;
    font-style: normal;
}





@font-face {
    font-family: 'Pet Me 64 2Y';
    src: url('PetMe642Y.eot');        
    src: local('Pet Me 64 2Y Medium'),
         local('PetMe642Y'),
         url('PetMe642Y.eot?#iefix') format('embedded-opentype'),
         url('PetMe642Y.woff') format('woff'),
         url('PetMe642Y.ttf') format('truetype'),
         url('PetMe642Y.svg#PetMe642Y') format('svg');
    font-weight: 500;
    font-style: normal;
}







@font-face {
    font-family: 'icons';
    src: url('icons.eot');        
    src: local('icons Regular'),
         local('icons'),
         url('icons.eot?#iefix') format('embedded-opentype'),
         url('icons.woff') format('woff'),
         url('icons.ttf') format('truetype'),
         url('icons.svg#icons') format('svg');
    font-weight: 400;
    font-style: normal;
}
