$red: #880000;
$light-red: #FF7777;
$orange: #DD8855;
$yellow: #EEEE77;
$green: #00CC55;
$light-green: #AAFF66;
$cyan: #AAFFEE;
$light-blue: #0088FF;
$blue: #0000AA;
$violet: #CC44CC;
$brown: #664400;
$white: #ffffff;
$light-gray: #BBBBBB;
$gray: #777777;
$dark-gray: #333333;
$black: #000000;

.sg-colors {
  li {
    padding: 0.375em !important;
    margin: 0 0.75em 0.75em 0 !important;
    min-width: 7.5em !important;
    max-width: 15em !important;
    border: 3.75px solid gray !important;
    border-radius: 0 !important;
  }
}

.sg-swatch {
  border: 3.75px solid $light-gray !important;
  border-radius: 0 !important;
  &__black {
    background-color: $black;
  }
  &__blue {
    background-color: $blue;
  }
  &__brown {
    background-color: $brown;
  }
  &__cyan {
    background-color: $cyan;
  }
  &__dark-gray {
    background-color: $dark-gray;
  }
  &__gray {
    background-color: $gray;
  }
  &__green {
    background-color: $green;
  }
  &__light-blue {
    background-color: $light-blue;
  }
  &__light-gray {
    background-color: $light-gray;
  }
  &__light-green {
    background-color: $light-green;
  }
  &__light-red {
    background-color: $light-red;
  }
  &__orange {
    background-color: $orange;
  }
  &__red {
    background-color: $red;
  }
  &__violet {
    background-color: $violet;
  }
  &__white {
    background-color: $white;
  }
  &__yellow {
    background-color: $yellow;
  }
}
